<html>
<body>
  <form>
    <th:block th:fragment="date (label, name, changeyear, range, minDate, maxDate)">
      <div th:with="valid=${!#fields.hasErrors(name)}"
        th:class="${'form-group' + (valid ? '' : ' has-error')}"
        class="form-group">
        <label class="col-sm-2 control-label" th:text="${label}">Label</label>
        <div class="col-sm-10">
            <div>
            <script th:inline="javascript">
            var minDate = [[${minDate}]];
            if (minDate == 'now') {
                minDate = new Date();
            } else if (minDate == 'tomorrow') {
                   minDate = new Date(new Date().getTime() + (24 * 60 * 60 * 1000));
            }
            var maxDate = [[${maxDate}]] == 'now' ? new Date() : [[${maxDate}]];
            window.addEventListener('load', function() {
                jQuery( "#datepicker" ).datepicker({
                    dateFormat: "yy-mm-dd",
                	yearRange: [[${range}]],
                	changeYear: [[${changeyear}]],
                	minDate: minDate,
                	maxDate: maxDate,
                })
                });
            /*jQuery( function() { 
                  jQuery( "#datepicker" ).datepicker({
                    dateFormat: "yyyy-mm-dd"
                });
              } ); */
              </script>
                <input id="datepicker"  readonly="readonly"  class="form-control" type="text" th:field="*{__${name}__}"
                title="Choose a date"/>
            </div>
          <span th:if="${valid}"
            class="glyphicon glyphicon-ok form-control-feedback"
            aria-hidden="true"></span>
          <th:block th:if="${!valid}">
            <span
              class="glyphicon glyphicon-remove form-control-feedback"
              aria-hidden="true"></span>
            <span class="help-inline" th:errors="*{__${name}__}">Error</span>
          </th:block>
        </div>
      </div>
    </th:block>
  </form>
</body>
</html>
